<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MY CONTACT</title>
  </head>
  <body>
    <header style="padding-bottom: 60px">MYCONT</header>
    <main>
      <div class="contact">{% block contact %} {% endblock %}</div>
      <div class="contact">{% block tambah %} {% endblock %}</div>
      <div class="contact">{% block edit %} {% endblock %}</div>
    </main>
    <footer style="padding-top: 60px">KAKI GWEH</footer>
  </body>
</html>
